body{
    padding: 0;
    margin: 0;
}

.maincontainer{
    display:grid;
    width:100vw;
    height:100vh;
    padding: 0;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(216, 180, 133);
}

.calculatorbody{
    padding: 5%;
    height: 40em;
    width: 30em;
    grid-row-start: 2;
    grid-column-start: 2;
    border-radius: 25px;
    justify-self: center;
    align-self: center;
    background-color: rgb(60, 170, 97);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);

}

.displayfield{
    background-color: dimgrey;
    grid-column: 1 / span 5;
    border-radius: 15px;
}

.calcbtn{
    min-height: 2em;
    max-height: 10em;
    min-width: 2em;
    background-color: #c4b0e4;
    border-radius: 25px;
    margin: 0.5em;
    text-align: center;
    font-size: 2em;
    
}

.pressed{
    border-width: 5px;
    margin: auto;
    border-style: dotted;
    border-color: black;
    height: 3em;
    width: 1.7em;
    background-color: #aa8bdb;
}

.calcbtn.-btn{
    grid-column-start: 5;
}

.calcbtn.multbtn{
    grid-column-start: 5;

}

.calcbtn.divbtn{
    grid-column-start: 5;
}
